/* ----------- iPhone 6, 6S, 7, 8, up until 10 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 810px) { 


/* Header Font:  
font-family: 'Teko', sans-serif;
 wieght: 400, 500, 600 (semi bold), 700 (bold)

Body font:
font-family: 'Montserrat', sans-serif;
wieght: 400, 600 (semi bold), 700 (bold) */


/*=================================   HEADER  =================================*/

.header {
    background: #3F4444;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    color: white;
}

.navMenu {
    display: inline-block;
    color: white;
    width: 49%;
    text-align: center;
    margin: 5px auto;
    padding: 5px 0px;
}

.menu {
    font-size: 15px;
    text-transform: uppercase;
}

.navMenu:hover {
  color: rgb(234, 172, 0);
}

#Favelogo {
    color: white;
    display:block; 
    margin: 5px auto;
}



/*=================================   HOME PAGE  =================================*/
#bWokeNav {
    padding: 5px 10px;
    margin: 5px auto;
    font-size: 15px;
}


/*=================================   ABOUT PAGE  =================================*/
.headerBlocked {
    height: 120px;
}


/*=================================   FAVORITES  =================================*/
.favorites {
    height: 400px;
}

.favoriteTitle {
    font-size: 30px;
    font-weight: 500;
    color: #3F4444;
    padding: 80px 20px;
    margin: 0px 20px;
}

#Favelogo {
    color: white;
    display:block; 
    margin: 5px auto;
}

/*=================================   MUSIC BAR (FIXED ON HOME AND FAVORITES)  =================================*/


/*=================================   FOOTER  =================================*/


footer {
    height: 200px;
    padding: 50px
}

}