/* Header Font:  
font-family: 'Teko', sans-serif;
 wieght: 400, 500, 600 (semi bold), 700 (bold)

Body font:
font-family: 'Montserrat', sans-serif;
wieght: 400, 600 (semi bold), 700 (bold) */

/*=================================   HOME PAGE  =================================*/
.headerBlocked {
    height: 200px;
}

#bWokeLogo {
    display: block;
    margin: 50px auto;
}
/*=================================   ABOUT PAGE  =================================*/



/*=================================   FAVORITES  =================================*/
.favorites {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)), url(https://images.unsplash.com/photo-1484704849700-f032a568e944?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80);
    background-size: cover;
    height: 1000px;
}

.favoriteTitle {
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;


    color: #3F4444;
    padding: 90px;
}

#Favelogo {
        color: white;
        display:block; 
        margin: 10px auto;
}