/* Header Font:  
font-family: 'Montserrat', sans-serif;
 wieght: 400, 500, 600 (semi bold), 700 (bold)

Body font:
font-family: 'Work Sans', sans-serif;
wieght: 400, 600 (semi bold), 700 (bold) 

Colors:
color: #fff200; Yellow
color: #69bd45; Green
color: #00aeef; Blue
color: #90181b; Red
*/


/*=================================   HOME PAGE  =================================*/


/* FIRST BLOCK: About Us */

.headerBlocked {
    height: 200px;
}

.introduction {
    /* Positioning for Video */
    /* position: relative; */
    background: linear-gradient(to Bottom, rgba(45, 49, 49, 0.5), rgba(45, 49, 49, 0.2)), url(../images/home1Option2.jpg);
    background-size: cover;
}


/* To edit video behind but still figuring it out */


/* #homeVideo {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: -100;
    bottom: 0;
    z-index: 0;
  } */

#bWokeLogo {
    display: block;
    margin: 50px auto;
}

#homeMotto {
    margin: 50px auto;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 200px;
    text-transform: uppercase;
    color: white;
}

#homeShortDescription {
    padding: 50px;
    margin-bottom: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 40px;
    background: rgba(238, 213, 143, 0.5);
}

.learnMore {
    display: block;
    margin: 20px auto;
    margin-bottom: 50px;
    width: 30%;
    background: rgb(234, 172, 0);
    height: 50px;
    border: none;
}


/* SECOND BLOCK: Search */

.searchArea {
    background: rgba(49, 53, 53, 0.918);
    padding: 50px 20px
}

.searchBar {
    margin: 0px auto;
    margin-top: 30px;
}

.searchBarTitle {
    margin: 30px auto;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-transform: inherit;
    color: white;
}

#searchSubhead {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: initial;
}

#search-input {
    background: rgba(145, 156, 156, 0.253);
    border: none;
}

#search-input:hover {
    background: rgba(145, 156, 156, 0.411);
    border: none;
}

#search-input:focus {
    background: rgba(255, 255, 255, 0.842);
}

#searchBtn {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 3px;
    margin: 20px;
}

#searchBtn:hover {
    color: rgba(234, 172, 0, 0.5);
    ;
}

#searchBtn:active {
    color: rgba(234, 172, 0, 1);
    ;
}

.searchBtn {
    display: inline-block;
    margin: 10px 10px 10px 10px;
    padding: 5px 15px 5px 15px;
    background: white;
    height: 50px;
    border: none;
    border-radius: 3px;
    color: rgb(234, 172, 0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: initial;
}

.searchBtn:hover {
    color: #3F4444;
}


/* Category Search */

.suggestionDiv {
    background: rgba(0, 0, 0, 0.24);
    width: 70%;
    margin: 20px auto;
}

.suggestTitle {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: white;
    margin: 20px;
}

.celebBtn {
    display: block;
    margin: 20px auto;
    padding: 5px 15px 5px 15px;
    background: rgba(145, 156, 156, 0.411);
    height: 50px;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: initial;
}

.celebBtn:hover {
    color: rgb(234, 172, 0);
    background: white;
}


/* Results Div */

.searchResultsDiv {
    background: rgba(255, 255, 255, 0.74);
    width: 90%;
    height: 300px;
    margin: 20px auto;
}


/* Map Title */

.maps {
    background: linear-gradient(to Bottom, rgba(45, 49, 49, 0.3), rgba(45, 49, 49, 0.2)), url(../images/home3.jpg);
    background-size: cover;
}

#homeMapTitle {
    padding: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
}


/* Map Styling */

.mapouter {
    display: block;
    position: relative;
    text-align: right;
    height: 715px;
    width: 974px;
    padding-bottom: 50px;
    margin: 0px auto;
}

.gmap_canvas {
    overflow: hidden;
    background: none;
    height: 715px;
    width: 974px;
}


/*=================================   ABOUT PAGE  =================================*/

#menu {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

#aboutMotto {
    margin: 0px auto;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 80px;
    text-transform: uppercase;
}

#belowAbout {
    /* margin: 0px auto; */
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 0px;
}

.aboutUsMain {
    background: linear-gradient(to Bottom, rgba(45, 49, 49, 0.5), rgba(45, 49, 49, 0.2)), url(../images/extra2.jpg);
    background-size: length;
    margin: 0px auto;
}

.ourTeam {
    background: linear-gradient(to Bottom, rgba(45, 49, 49, 0.5), rgba(45, 49, 49, 0.2)), url(../images/extra2.jpg);
    background-size: cover;
    color: white;
}

.teamImg {
    width: 100%;
    height: auto;
}

.theTeam {
    color: black;
    /* background: linear-gradient(to Bottom, rgba(45, 49, 49, 0.5), rgba(45, 49, 49, 0.2)), url(../images/favoritesBack.jpg); */
    background-size: auto;
    background-repeat: no-repeat;
}

.team-photo {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #00aeef;
    /* text-shadow: 0 0 3px #000; */
    margin-bottom: 5px;
}

.team-photo img {
    width: 90%;
    height: auto;
    border-radius: 50%;
    /* border-color: black; */
    border: 5px solid black;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}

.teamInfo {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 15px;
    font-size: 12px;
}

.strongTeam {
    margin: 0px auto;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 80px;
    text-transform: uppercase;
}

.wantToGive {
    font-size: 50px;
}

.wePride {
    margin-bottom: 0px;
}


/*=================================   FAVORITES  =================================*/

.favorites {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)), url(https://images.unsplash.com/photo-1484704849700-f032a568e944?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80);
    background-size: cover;
    height: 1000px;
}

.favoriteTitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #3F4444;
    padding: 90px;
}

#myFavorites {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

#Favelogo {
    color: white;
    display: block;
    margin: 0px auto;
    object-fit: contain;
    width: 100%;
}

#logoFooter {
    color: white;
    display: block;
    margin: 0px auto;
    object-fit: contain;
    width: 10%;
}