/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 810px) 
  and (max-width: 1224px) {


/* Header Font:  
font-family: 'Teko', sans-serif;
 wieght: 400, 500, 600 (semi bold), 700 (bold)

Body font:
font-family: 'Montserrat', sans-serif;
wieght: 400, 600 (semi bold), 700 (bold) */


/*=================================   HEADER  =================================*/

.menu {
  font-size: 17px;
}

/*=================================   HOME PAGE  =================================*/

#bWokeNav {
  padding: 5px 13px;
  margin: 10px auto;
  font-size: 17px;
}

.headerBlocked {
  height: 150px;
}


/*=================================   ABOUT PAGE  =================================*/



/*=================================   FAVORITES  =================================*/
.favorites {
  height: 500px;
}

.favoriteTitle {
  font-size: 30px;
  font-weight: 600;
  color: #3F4444;

  padding: 90px;
}

#Favelogo {
  color: white;
  display:block; 
  margin: 7px auto;
}


/*=================================   FOOTER  =================================*/


footer {
  height: 300px;
  padding: 60px
}

}